/* css styles */
.button:hover {
  transform: scale(1.03);
  opacity: 80%;
}

.button {
  border-radius: 25px;
}

/* To customise font on webpages */
.listing-subtitle {
  font-size: 9pt;
  margin-top: 2px;
  margin-bottom: 10px;
}
